body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
a {
  text-decoration: none;
  color: inherit;
}
* {
  line-height: 1.2rem;
  box-sizing: border-box;
}
.cf:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrap {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}
.bicolor {
  position: relative;
  min-height: 1px;
}
.bicolor span {
  display: block;
  float: left;
  width: 50%;
  height: 100%;
}
.bicolor span.blue {
  background: #0168b3;
}
.bicolor span.red {
  background: #ee3a43;
}
#topbar {
  width: 100%;
  height: 32px;
  background: #fff;
  border-bottom: 2px solid #d5d5d5;
  font-size: .8rem;
}
header.header-gob {
  padding: 0 0 20px;
  color: #7a8791;
}
header.header-gob h1 {
  text-align: center;
  margin: -32px 0 0 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
}
header.header-gob h1 a {
  display: block;
  background: url(../img/header-logo.png) no-repeat top center;
  width: 170px;
  height: 130px;
}
header.header-gob .banner {
  background: #ccc;
  margin-top: -53px;
  overflow: hidden;
  height: 180px;
  background: url(../img/header-bg.jpg) center no-repeat;
}
header.header-gob .banner .img {
  width: 100%;
}
header.header-gob .banner .img img {
  width: 100%;
  float: left;
}
header.header-gob .banner .texto {
  position: absolute;
  right: 0;
  width: 40%;
  text-align: right;
  color: #fff;
  padding: 100px 50px 20px;
  font-family: 'gobCL', Tahoma, Verdana, Segoe, sans-serif;
}
header.header-gob .banner .texto h1 {
  font-size: 2.5rem;
  margin: 0 auto 10px;
  font-weight: 700;
}
header.header-gob .banner .texto p {
  font-size: 1rem;
  line-height: 140%;
}
header.header-gob nav {
  font-family: 'gobCL', Tahoma, Verdana, Segoe, sans-serif;
  width: 100%;
  margin-top: 30px;
}
header.header-gob nav .wrap {
  display: table;
}
header.header-gob nav ul {
  background: #fff;
  display: table-row;
  padding: 0;
  margin: 0;
}
header.header-gob nav ul li {
  margin: 0;
  position: relative;
  display: table-cell;
  text-align: center;
}
header.header-gob nav ul li a {
  padding: 16px 0 14px 0;
  display: block;
  font-size: 1rem;
  border-right: 1px solid #e6e6e6;
  border-bottom: 2px solid #bdc9d1;
}
header.header-gob nav ul li a:hover {
  color: #0168b3;
  border-bottom: 2px solid #0168b3;
}
header.header-gob nav ul li:first-child a {
  border-left: 1px solid #e6e6e6;
}
header.header-gob nav ul li.current-menu-item a,
header.header-gob nav ul li.current-menu-ancestor a {
  color: #0168b3;
  border-bottom: 2px solid #0168b3;
}
header.header-gob nav ul li.menu-item-80 a,
header.header-gob nav ul li.menu-item-477 a {
  background: #efefef;
}
header.header-gob nav ul li ul.sub-menu {
  position: absolute;
  z-index: 9;
  background: #0168b3;
  width: 100%;
  display: none;
  padding: 0;
  margin: 0;
}
header.header-gob nav ul li ul.sub-menu li {
  float: none;
  text-align: center;
  border-bottom: 1px solid #3091C1;
  display: block;
}
header.header-gob nav ul li ul.sub-menu li a {
  padding: 8px 5px;
  color: #fff;
  border: none;
  font-size: .8rem;
}
header.header-gob nav ul li ul.sub-menu li a:hover {
  background: #045282;
}
header.header-gob nav ul li ul.sub-menu li:hover ul.sub-menu {
  display: block;
}
header.header-gob nav ul li:hover ul.sub-menu {
  display: block;
}
header.header-gob.full h1 a {
  background: url(../img/header.full-logo.png) no-repeat top center;
  height: 80px;
}
header.header-gob.full .banner {
  height: 350px;
}
header.header-gob.full nav {
  margin-top: 0;
}
footer {
  text-align: left;
  background: #e6e6e6;
}
footer .wrap {
  background: #fff;
}
footer .bicolor {
  height: 2px;
}
footer .top {
  padding: 25px 20px 0;
  display: table;
  width: 100%;
  color: #7a8791;
}
footer .top .listas {
  display: table-row;
}
footer .top .listas .lista {
  display: table-cell;
  padding: 5px 35px 30px;
  border-left: 1px solid #e6e6e6;
}
footer .top .listas .lista:first-child {
  border-left: none;
  padding-right: 35px;
  padding-left: 15px;
}
footer .top .listas .lista:last-child {
  padding-right: 15px;
  padding-left: 35px;
}
footer .top .listas .lista h3 {
  margin: 0 0 20px;
  font-size: 1.1rem;
  color: #0168b3;
  font-weight: 500;
}
footer .top .listas .lista ul {
  padding: 0 0 0 16px;
  margin: 0;
}
footer .top .listas .lista ul li {
  margin: 0 0 8px;
  list-style: disc;
  padding: 0;
  font-size: .75rem;
}
footer .top .listas .lista ul li a:hover {
  color: #2e353a;
}
footer .bottom {
  padding: 15px 0 0;
  margin: 0 20px;
  color: #475156;
  border-top: 1px solid #e6e6e6;
  font-size: .75rem;
}
footer .bottom .left {
  float: left;
}
footer .bottom nav {
  float: right;
}
footer .bottom nav ul li {
  float: left;
  border-right: 1px solid #475156;
  font-size: .75rem;
}
footer .bottom nav ul li a {
  display: block;
  padding: 0 6px;
}
footer .bottom nav ul li a:hover {
  text-decoration: underline;
}
footer .bottom nav ul li:last-child {
  border-right: none;
}
footer .bottom nav ul li:last-child a {
  padding: 0 0 0 6px;
}
footer .bottom .bicolor {
  margin: 25px 0 0;
  width: 170px;
  height: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'gobCL', Tahoma, Verdana, Segoe, sans-serif;
  margin: 0 auto 10px;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.1rem;
}
h6 {
  font-size: .75rem;
}
@font-face {
  font-family: 'gobCL';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/gobcl_light.eot?') format('eot'), url('../fonts/gobcl_light.woff') format('woff'), url('../fonts/gobcl_light.ttf') format('truetype');
}
@font-face {
  font-family: 'gobCL';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/gobcl_regular.eot?') format('eot'), url('../fonts/gobcl_regular.woff') format('woff'), url('../fonts/gobcl_regular.ttf') format('truetype');
}
@font-face {
  font-family: 'gobCL';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/gobcl_bold.eot?') format('eot'), url('../fonts/gobcl_bold.woff') format('woff'), url('../fonts/gobcl_bold.ttf') format('truetype');
}
@font-face {
  font-family: 'gobCL';
  font-weight: 900;
  font-style: normal;
  src: url('../fonts/gobcl_heavy.eot?') format('eot'), url('../fonts/gobcl_heavy.woff') format('woff'), url('../fonts/gobcl_heavy.ttf') format('truetype');
}
.gobcl {
  font-family: 'gobCL', Tahoma, Verdana, Segoe, sans-serif;
}
.opensans {
  font-family: 'Open Sans', sans-serif;
}
.georgia {
  font-family: Georgia, Times, "Times New Roman", serif;
}
p {
  font-size: 1rem;
  margin: 0 auto 15px;
}
blockquote {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1rem;
  font-style: italic;
  margin: 0 auto 15px;
  padding: 8px 0 5px 20px;
  border-left: 2px solid #0168b3;
}
small {
  font-size: .8rem;
}
em {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
}
sup,
sub {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: .8rem;
  font-style: italic;
}
ul,
ol {
  padding: 0 0 0 30px;
  text-align: left;
  margin: 0 auto 20px;
}
ul li,
ol li {
  margin: 0 auto 8px;
  font-size: .9rem;
}
ul li ul,
ol li ul,
ul li ol,
ol li ol {
  margin: 8px auto 0;
}
